/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/
.toggle-menu-buttons {
    gap: 10rem;
}

.btn-outline-light {
    color: burlywood;
    color: antiquewhite;
}

.btn-outline-light:hover {
    background-color: antiquewhite;
}

.menus {
    color: burlywood;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.menu ul {
    list-style-type: none;
    padding-left: 0;
}

.japanese-saying {
  color: antiquewhite;
}

.joke {
    /* background: rgba(222, 184, 135, 0.1); */
    border-radius: 8px;
    padding: 10px;
    margin: 20px auto;
    width: 100%;
    border: 1px solid burlywood;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .joke p:first-child {
    color:aliceblue;
    font-style: italic;
    margin-bottom: 15px;
  }
  
  .joke p:nth-child(2) {
    font-size: 1.1em;
    margin-bottom: 10px;
    color:cornsilk
  }
  
  .joke p:last-child {
    font-weight: 500;
    color: #d4af7a;
  }
  
  .ingredients {
    max-width: 300px;
  }

  .favorites-button {
    color: whitesmoke;
    background: none;
    border: none;
    transition: transform 0.3 ease-in-out;
  }

  .favorites-button:hover{
    background: none;
    color: red;
    animation: bounce 0.7s;
  }

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-5px);
    }
    60% {
      transform: translateY(-3px);
    }
  }