.container {
    color: blanchedalmond; 
}

.submit-btn {
    align-content: center;
    justify-content: center;
}

.login-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-options .form-check {
    margin: 0;
}

.forgotPassword {
    color: blanchedalmond;
    text-decoration: none;
}

.forgotPassword:hover {
    color: antiquewhite;
    text-decoration: underline;
}