.container {
    color: blanchedalmond; 
}

.submit-btn {
    align-content: center;
    justify-content: center;
}

.form-check {
    padding-left: 2.3rem;
}

.forgotPassword {
    padding-left: 9rem;
    color: blanchedalmond;
    text-decoration: none;
}

.forgotPassword:hover {
    color: antiquewhite;
}