.profile-page-top-div{
    color: white !important;
    margin-top: 1rem;
}
.profile-page-div{
    color: white !important;
    margin-top: 1rem;
    border: 1px, solid, white;
    border-radius: .5rem;
    padding-top: .25rem;
}
/* .profile-page-div .example { */

/* } */